@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Poppins", sans-serif;
  background-color: white;
}

img {
  width: 100%;
  margin-bottom: 10px;
}


/*------------  Header  ------------*/
.menu {
  background-color: goldenrod;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.logo {
  font-size: 33px;
  padding: 0 80px;
  font-weight: bold;
}

.logo > a{
  text-decoration:none;
  color: white;
}

.menu-items {
  display: flex;
  list-style: none;
  margin-right: 40px;
}

.menu-items li {
  border-radius: 3px;
  margin: 0 5px;
}

.menu li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: white
}

.menu-items li:hover,
li.active {
  background-color: rgba(0, 0, 0, .3);
  transition: .4s;
}

.btn-menu {
  font-size: 25px;
  color: white;
  cursor: pointer;
  display: none;
}

ul.show-menu {
  top: 65px;
}

/*------------  Main index  ------------*/
.main {
  flex: 1;
  display: flex;
  align-items: center;
}

.right img {
  width: 450px;
  height: 591px;
}

.left {
  max-width: 60%;
  padding: 40px 64px;
}

.right {
  padding: 40px 45px;
}

.title {
  color: goldenrod;
  font-weight: bolder;
  font-size: 45px;
  width: 45%;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 48px;
  padding-bottom: 30px;
}

.msg {
  color: black;
  font-size: 20px;
  letter-spacing: 0.7px;
  line-height: 32px;
  margin-bottom: 40px;
}


/*------------  Footer  ------------*/

.footer-class {
  width: 100%;
  background-color: goldenrod;
}

.footer-class .div-container-footer-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 0px;
}

.footer-class .div-container-footer-1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}

.footer-class .div-container-footer-1 .box p {
  color: whitesmoke;
  margin-bottom: 10px;
}

.footer-class .div-container-footer-1 .git-link a {
  display: inline-block;
  font-size: 45px;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: goldenrod;
  text-align: center;
  transition: all .4s;
}

.footer-class .div-container-footer-1 .git-link a:hover {
  color: black;
}

.footer-class .div-container-footer-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: white;
}

.footer-class .div-container-footer-2 small {
  font-size: 15px;
}

/************ main-products ************/
#products-container {
  margin: 60px 75px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-boton-carrito{
  display: flex;
  align-items: right;
  justify-content: right;
  background-color: goldenrod;
}

.text-carrito-de-compras{
  font-size: 20px;
  margin: 15px 15px 15px 0;
  color: white;
}

.elastico:hover{-webkit-animation-name:rubberBand
  ;animation-name:rubberBand}
  @-webkit-keyframes shakeX{0%,to{-webkit-transform:translateZ(0);transform:translateZ(0)}
  10%,30%,50%,70%,90%
  {-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}
  20%,40%,60%,80%
  {-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}
  }@keyframes shakeX{0%,to{-webkit-transform:translateZ(0);transform:translateZ(0)}
  10%,30%,50%,70%,90%
  {-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}
  20%,40%,60%,80%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}
}


#boton-carrito {
  border: none;
  color: goldenrod;
  font-size: 20px;
  background-color: white;
  border-radius: 50%;
  margin: 5px 0px 5px 0;
  padding: 10px 20px;
  transition: all .3s;
  margin-right: 40px;
}

#boton-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

#boton-carrito:focus {
  outline: none;
}

#contenedor-productos {
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  line-height: 1.8;
}

.producto {
  max-width: 20%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

.precioProducto {
  font-weight: 700;
}

.boton-agregar {
  background-color: goldenrod;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  border: none;
}

.boton-agregar:hover {
  cursor: pointer;
}

.boton-agregar:focus {
  outline: none;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: goldenrod;
  padding-bottom: 5px;
}

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: goldenrod;
  border: none;
  background-color: white;
}

.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
  outline: none;
}

.modal-carrito .precioProducto {
  padding-top: 10px;

}

.productoEnCarrito {
  border-left: 5px solid goldenrod;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.productoEnCarrito:hover {
  border-left: 5px solid gold;
}

.boton-eliminar {
  background-color: white;
  color: goldenrod;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}

/*------------  Ubicación  ------------*/

.main-ubicacion {
  flex: 1;
  display: flex;
  align-items: center;
}

iframe-size {
  width: 100%;
  margin-bottom: 10px;
}

.right iframe{
    width: 450px;
    height: 600px;
    margin-bottom: 35px;
}


/*------------  Media Queries - Web responsive  ------------*/

@media screen and (max-width: 1260px) {
  .logo {
    font-size: 25px;
    padding-left: 35px;

  }

  .menu-items li a {
    font-size: 15px;
  }

  /*------------  Footer  ------------*/
  .footer-class .div-container-footer-1 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    font-size: 23px;
    padding-left: 35px;
  }

  .menu-items li a {
    font-size: 15px;
  }

  /*------------  Footer  ------------*/
  .footer-class .div-container-footer-1 {
    font-size: 15px;
  }

  .footer-class .div-container-footer-1 .git-link a {
    font-size: 30px;
  }

  .footer-class .div-container-footer-2 small {
    font-size: 13px;
  }
}

  /*------------  Pagina de contacto  ------------*/
.contacto {
  margin-top: 30px;
  margin-bottom: 58px;
}

.contacto h2 {
  text-align: center;
  margin-bottom: 1%;
  margin-top: 2%;
}

.contenedor-formulario-contacto {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px black;
}

.contenedor-formulario-contacto label {
  line-height: 2.7em;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.contenedor-formulario-contacto textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contenedor-formulario-contacto .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset rgb(0, 0, 0);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: rgb(38, 25, 125);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: margin-right 4s;
}

.submit-btn:hover {
  background-color: rgb(255, 243, 233);
  border: 4px solid rgb(0, 0, 0);
  cursor: pointer;
}

@media screen and (max-width: 930px) {
  .menu {
    height: 65px;
  }

  .btn-menu {
    display: inline-flex;
    margin-right: 40px;
  }

  .menu-items {
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background: #414141;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
  }

  .menu-items li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }

  .menu-items li:hover {
    background: none;
  }

  .menu-items li a {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }

  .menu-items li a:hover {
    color: goldenrod
  }

  .logo {
    font-size: 25px;
    padding-left: 35px;
  }

  /************ main-index ************/
  .main {
    flex-direction: column;
  }

  .main-ubicacion {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    max-width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left {
    font-size: 0.8em;
  }

  .left * {
    width: 95%;
    margin-bottom: 32px;
    text-align: center;
  }

  .right img {
    width: 75%;
  }
}

@media screen and (max-width: 830px) and (orientation: landspace) {
  .menu-items li {
    margin: 5px 0 0 0;
  }

  .menu-items {
    overflow: scroll;
    height: calc(100% - 65px);
  }
}


@media screen and (max-width: 720px) {
  .logo {
    font-size: 17px;
    padding-left: 17px;
  }

  /*------------  Footer  ------------*/
  .footer-class .div-container-footer-1 {
    font-size: 12px;
  }

  .footer-class .div-container-footer-1 .git-link a {
    font-size: 25px;
  }

  .footer-class .div-container-footer-2 small {
    font-size: 10px;
  }

  .contenedor-formulario-contacto {
    max-width: 35rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px black;
  }

  #products-container {
    margin: 60px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .producto {
    max-width: 40%;
    padding: 10px 20px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
  }
}

@media screen and (max-width: 670px) {
  .logo {
    font-size: 22px;
    padding-left: 20px;
  }

  .menu-items li a {
    font-size: 14px;
  }

  .right iframe{
    width: 300px;
    height: 400px;
    margin-bottom: 35px;
}
}

@media screen and (max-width: 360) {
  
  .contenedor-formulario-contacto {
    max-width: 10rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px black;
  }

  .contacto h2 {
    text-align: center;
  }
}